
:root {
    --primary-color:rgb(255, 255, 255);
    --secondary-color: #8dc3fd;
    --tertiary-color: #d27cef;
    --text-dark: #13313c;
    --text-light: #475569;
    --white: #ffffff;
    --max-width: 1200px;
    --header-font: "Rubik", sans-serif;
    --rosa: #ff93c5;
      --orange: #fca681;
      --purple: #bb92ec;
      --verde: #6fe0bc;
      --ico: #738eda;
      --greyy: #fcfcfc;
  
      --rosaQ: #ff93c594;
      --orangeQ: #fca68196;
      --purpleQ: #ba92ec97;
      --verdeQ: #92eccf90;
  
      --azul:rgb(15, 15, 157);
      --azulc: rgb(89, 161, 205);
      --amarillo: rgb(216, 188, 75);
      --vel: rgb(58, 177, 106);
      --rojo: rgb(144, 25, 25);
      --ros: rgb(218, 46, 152);
  }

  .titulo{
    color: rgb(0, 60, 87);
    font-size:30px;
    margin-right:70%;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  section{
    height:700px;
  }
  .se1{
   
    width: 100%;
    background-color: rgba(156, 235, 255, 0.452);
    margin: auto;
  padding:10px 40px 40px 40px;
  box-sizing: border-box;
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  box-sizing: border-box;
  
  
  
  }
  .glas{
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.317);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    padding: 20px;
  box-sizing: border-box;
    
  }
  .section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
  }
  
  img {
    display: flex;
    width: 100%;
  }
  
  a {
    text-decoration: none;
    transition: 0.3s;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    background-color: var(--primary-color);
  }
  
  nav {
    position: fixed;
    isolation: isolate;
    width: 100%;
    z-index: 9;
  }
  
  .nav__header {
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--text-dark);
  }
  
  .nav__logo a {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--white);
  }
  
  .nav__logo a span {
    padding: 3px 7px;
    margin-inline: 5px;
    font-size: 1rem;
    background-color: var(--secondary-color);
    border-radius: 100%;
  }
  
  .nav__menu__btn {
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
  }
  
  .nav__links {
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    padding: 2rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--text-dark);
    transition: 0.5s;
    z-index: -1;
    transform: translateY(-100%);
  }
  
  .nav__links.open {
    transform: translateY(0);
  }
  
  .nav__links a {
    font-weight: 500;
    color: var(--white);
    transition: 0.3s;
  }
  
  .nav__links a:hover {
    color: var(--secondary-color);
  }
  
  .nav__btns {
    display: none;
  }
  
  .header__container {
    display: grid;
    gap: 1rem;
  }
  
  .header__image {
    width: 550px;
    height: 450px;
    margin-inline: auto;
    background-color: #13313c00;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    filter: drop-shadow(4px 4px 4px  rgba(0, 0, 0, 0.187));
  }
  
  .header__content {
    text-align: center;
  }
  
  .header__content h2 {
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--text-dark);
  }
  
  .header__content h1 {
    margin-bottom: 1rem;
    font-size: 4.25rem;
    font-weight: 600;
    font-family: var(--header-font);
    line-height: 5rem;
    color: var(--text-dark);
  }
  
  .header__content p {
    margin-bottom: 2rem;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.75rem;
    color: var(--text-light);
  }
  
  .header__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  
  .header__btns img {
    max-width: 150px;
    border-radius: 5px;
  }
  
  @media (width > 768px) {
    nav {
      position: static;
      padding-block: 2rem 0;
      padding-inline: 1rem;
      max-width: var(--max-width);
      margin-inline: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;
    }
  
    .nav__header {
      flex: 1;
      padding: 0;
      background-color: transparent;
    }
  
    .nav__logo a {
      font-size: 2rem;
      color: var(--text-dark);
    }
  
    .nav__logo a span {
      padding: 6px 9px;
      color: var(--white);
    }
  
    .nav__menu__btn {
      display: none;
    }
  
    .nav__links {
      position: static;
      padding: 0;
      flex-direction: row;
      background-color: transparent;
      transform: none;
    }
  
    .nav__links a {
      padding-block: 5px;
      color: var(--text-light);
      border-bottom: 2px solid transparent;
    }
  
    .nav__links a:hover {
      border-color: var(--secondary-color);
    }
  
    .nav__btns {
      display: flex;
      flex: 1;
    }
  
    .nav__btns .btn {
      padding: 0.80rem 3rem;
      outline: none;
      border: none;
      white-space: nowrap;
      background-color:rgb(107, 163, 222);
      border-radius: 5rem;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
      transition: 0.3s;
      cursor: pointer;
    }
  
    .nav__btns .btn:hover {
      
      background-color: var(--secondary-color);
    }
  
    .header__container {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }
  
    .header__image {
      grid-area: 1/2/2/3;
    }
  
    .header__content {
      text-align: left;
    }
  
    .header__btns {
      justify-content: flex-start;
    }
  
    
  
    
  }

 section{
  background-color:rgb(255, 255, 255);
  height:700px;
 }
 
 .s1{
 
  display:flex;
  background: #ffffff;
background: -webkit-linear-gradient(180deg, #ffffff 0%, #cbe9ff 50%, #a2d9ff 100%);
background: linear-gradient(180deg, #ffffff 0%, #cbe9ff 50%, #a2d9ff 100%);
 }
 svg{
  background:rgba(255, 255, 255, 0);
 }
.eleme{
  height:100%;
  width:50%;
  background-color:rgba(255, 204, 204, 0);
  margin:1px;

}
.f{
  padding:5%;
}
.card {
  width: 350px;
  height: 300px;
 background-position:center;
 background-size:190%;
 background-repeat:no-repeat;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  color: #554860;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.44);
  margin-top:40px;
  margin-left:70px;

}
.d{ 
   margin-left:300px;
   margin-top:-60px;
}
.titulo_de_quien{
  font-size:40px;
  
}

.cardl {
  width: 400px;
  height: auto;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 10px 15px;
  background-color:rgba(255, 255, 255, 0.67);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
}


.icon {
  width: 17px;
  height: 17px;
  color: rgba(0, 182, 228, 0.7);
}
.message-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
}
.message-text,
.sub-text {
  margin: 0;
  cursor: default;
}
.message-text {
  color: rgba(1, 141, 176, 0.7);
  font-size: 17px;
  font-weight: 700;
}
.sub-text {
  font-size: 14px;
  color: #555;
}
.cross-icon {
  width: 18px;
  height: 18px;
  color: #555;
  cursor: pointer;
}
.a{
margin-left:50px;
}
.b{
  margin-left:100px;
}
.s2{
  display:flex;
  height:600px;
  justify-content:center;
  margin-top:100px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3cpath d='M -599.7272769707336%2c164 C -503.73%2c216.4 -311.73%2c441.4 -119.7272769707335%2c426 C 72.27%2c410.6 168.27%2c100.8 360.2727230292665%2c87 C 552.27%2c73.2 648.27%2c337 840.2727230292664%2c357 C 1032.27%2c377 1200.33%2c186.6 1320.2727230292664%2c187 C 1440.22%2c187.4 1416.05%2c324.6 1440%2c359' stroke='rgba(196%2c 243%2c 255%2c 0.72)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -150.64685522359173%2c73 C -54.65%2c135.8 137.35%2c350.6 329.35314477640827%2c387 C 521.35%2c423.4 617.35%2c248.8 809.3531447764083%2c255 C 1001.35%2c261.2 1097.35%2c447.6 1289.3531447764083%2c418 C 1481.35%2c388.4 1739.22%2c105.2 1769.3531447764083%2c107 C 1799.48%2c108.8 1505.87%2c363 1440%2c427' stroke='rgba(196%2c 243%2c 255%2c 0.72)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -54.16228261399306%2c186 C 41.84%2c212.6 233.84%2c303.2 425.83771738600694%2c319 C 617.84%2c334.8 713.84%2c252.2 905.837717386007%2c265 C 1097.84%2c277.8 1193.84%2c387.2 1385.837717386007%2c383 C 1577.84%2c378.8 1855.01%2c225.6 1865.837717386007%2c244 C 1876.67%2c262.4 1525.17%2c428.8 1440%2c475' stroke='rgba(196%2c 243%2c 255%2c 0.72)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -511.23283149084966%2c242 C -415.23%2c281.2 -223.23%2c433.2 -31.23283149084969%2c438 C 160.77%2c442.8 256.77%2c279 448.76716850915034%2c266 C 640.77%2c253 736.77%2c401 928.7671685091503%2c373 C 1120.77%2c345 1306.52%2c107.2 1408.7671685091502%2c126 C 1511.01%2c144.8 1433.75%2c398.8 1440%2c467' stroke='rgba(196%2c 243%2c 255%2c 0.72)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-repeat:no-repeat;
}
/* From Uiverse.io by vinodjangid07 */ 
.cardk{
  width: 20%;
  height: 60%;
  margin:20px;
  background: rgb(255, 255, 255);
  border-radius: 12px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.123);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition-duration: .5s;
}
.color{
 color:rgb(130, 202, 253);
}
.profileImage {
  background: rgb(190, 166, 166);
  border-radius: 12px 12px 0px 0px ;
  width: 100%;
  height: 80%;
 

}

.textContainer {
  width: 100%;
  text-align: left;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.name {
  font-size: 0.9em;
  font-weight: 600;
  color: rgb(0, 0, 0);
  letter-spacing: 0.5px;
}

.profile {
  font-size: 0.84em;
  color: rgb(0, 0, 0);
  letter-spacing: 0.2px;
}

footer{
  height:330px;
  background-color:rgb(19, 19, 19);
  padding:20px
}
 .footer{
  
  display:flex;
  padding:50px;
  gap:100px;
 }

 .p{
  color:white;
 }

 .h3{
 color: rgb(25, 131, 154);
 }


 h6{
  color: rgb(148, 148, 148);
  margin-left:50px;
 }


.s3{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3cpath d='M -599.7272769707336%2c164 C -503.73%2c216.4 -311.73%2c441.4 -119.7272769707335%2c426 C 72.27%2c410.6 168.27%2c100.8 360.2727230292665%2c87 C 552.27%2c73.2 648.27%2c337 840.2727230292664%2c357 C 1032.27%2c377 1200.33%2c186.6 1320.2727230292664%2c187 C 1440.22%2c187.4 1416.05%2c324.6 1440%2c359' stroke='rgba(196%2c 243%2c 255%2c 0.72)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -150.64685522359173%2c73 C -54.65%2c135.8 137.35%2c350.6 329.35314477640827%2c387 C 521.35%2c423.4 617.35%2c248.8 809.3531447764083%2c255 C 1001.35%2c261.2 1097.35%2c447.6 1289.3531447764083%2c418 C 1481.35%2c388.4 1739.22%2c105.2 1769.3531447764083%2c107 C 1799.48%2c108.8 1505.87%2c363 1440%2c427' stroke='rgba(196%2c 243%2c 255%2c 0.72)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -54.16228261399306%2c186 C 41.84%2c212.6 233.84%2c303.2 425.83771738600694%2c319 C 617.84%2c334.8 713.84%2c252.2 905.837717386007%2c265 C 1097.84%2c277.8 1193.84%2c387.2 1385.837717386007%2c383 C 1577.84%2c378.8 1855.01%2c225.6 1865.837717386007%2c244 C 1876.67%2c262.4 1525.17%2c428.8 1440%2c475' stroke='rgba(196%2c 243%2c 255%2c 0.72)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -511.23283149084966%2c242 C -415.23%2c281.2 -223.23%2c433.2 -31.23283149084969%2c438 C 160.77%2c442.8 256.77%2c279 448.76716850915034%2c266 C 640.77%2c253 736.77%2c401 928.7671685091503%2c373 C 1120.77%2c345 1306.52%2c107.2 1408.7671685091502%2c126 C 1511.01%2c144.8 1433.75%2c398.8 1440%2c467' stroke='rgba(196%2c 243%2c 255%2c 0.72)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
 background-repeat:no-repeat;
}


.s4{
background:#a2d9ff;
height:400px;
display:flex;
align-items:center;
justify-content:center;
padding:20px;
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1002%26quot%3b)' fill='none'%3e%3cpath d='M -718.4879676994614%2c85 C -622.49%2c128.4 -430.49%2c291.2 -238.48796769946134%2c302 C -46.49%2c312.8 49.51%2c123.4 241.51203230053866%2c139 C 433.51%2c154.6 529.51%2c370.2 721.5120323005386%2c380 C 913.51%2c389.8 1057.81%2c199.2 1201.5120323005387%2c188 C 1345.21%2c176.8 1392.3%2c296.8 1440%2c324' stroke='rgba(255%2c 255%2c 255%2c 0.72)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -843.2053258468341%2c151 C -747.21%2c216.2 -555.21%2c460.6 -363.2053258468341%2c477 C -171.21%2c493.4 -75.21%2c257.8 116.79467415316589%2c233 C 308.79%2c208.2 404.79%2c346.6 596.7946741531659%2c353 C 788.79%2c359.4 908.15%2c273.2 1076.794674153166%2c265 C 1245.44%2c256.8 1367.36%2c302.6 1440%2c312' stroke='rgba(255%2c 255%2c 255%2c 0.72)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -780.8356431815657%2c70 C -684.84%2c154.2 -492.84%2c470.6 -300.83564318156573%2c491 C -108.84%2c511.4 -12.84%2c209 179.16435681843427%2c172 C 371.16%2c135 467.16%2c305.8 659.1643568184343%2c306 C 851.16%2c306.2 983%2c159.6 1139.1643568184343%2c173 C 1295.33%2c186.4 1379.83%2c333 1440%2c373' stroke='rgba(255%2c 255%2c 255%2c 0.72)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -728.8898811988238%2c487 C -632.89%2c430.6 -440.89%2c231.2 -248.88988119882373%2c205 C -56.89%2c178.8 39.11%2c383.2 231.11011880117627%2c356 C 423.11%2c328.8 519.11%2c46.4 711.1101188011762%2c69 C 903.11%2c91.6 1045.33%2c432.6 1191.1101188011762%2c469 C 1336.89%2c505.4 1390.22%2c294.6 1440%2c251' stroke='rgba(255%2c 255%2c 255%2c 0.72)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1002'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");

}
.photo{
  background-size:120%;
  filter: brightness(0.5);
}
.dos{
  background-size:200%;
}
.tres{
  background-size:200%;
}
/* From Uiverse.io by samuelfcosta18 */ 
section.card {
  position: relative;
  width: 20%;
  height: 120%;
  background-color:rgb(61, 127, 198);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  color:white;
}
.card svg {
  fill: #000;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 3px;
}
.card:hover {
  transform: scale(1.05);
  color: #ffffff;
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card__content {
  color:rgb(255, 255, 255);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color:rgba(255, 255, 255, 0.76);
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  padding-left: 5px;
  font-size: 24px;
  color: #000000;
  font-weight: 700;
}

.card:hover svg {
  scale: 0;
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #000000;
  line-height: 1.4;
}

/* From Uiverse.io by G4b413l */ 
.conta {
  display: flex;
  gap: 10px;
  padding:30px;
}

.cal {
  background-color:rgb(158, 145, 145);
  height: 450px;
  width: 15%;
  flex: 1;
  border-radius: 16px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat:no-repeat;
background-position:center;
background-size:200%;

}

.cal:hover {
  flex: 1.2;

  background-color: #b8b8b8;
}